@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Regular'), local('Sofia-Pro-Bold'),
    url('./assets/fonts/SofiaProRegular.woff2') format('woff2'),
    url('./assets/fonts/SofiaProRegular.woff') format('woff'),
    url('./assets/fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Bold'), local('Sofia-Pro-Bold'),
    url('./assets/fonts/SofiaProBold.woff2') format('woff2'),
    url('./assets/fonts/SofiaProBold.woff') format('woff'),
    url('./assets/fonts/SofiaProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Sofia Pro", sans-serif;
    margin: 0;
}

.maintenance {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.maintenance::before, .maintenance::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
}
.maintenance::before {
    z-index: -2;
    height: 100%;
    background-color: #16182c;
}
.maintenance::after {
    z-index: -1;
    height: 80%;
    background: url("assets/images/bg.jpeg") center no-repeat;
    background-size: contain;
}

.maintenance__logo {
    display: block;
    margin: 20px auto;
}

.maintenance__content {
    max-width: 600px;
    margin: auto auto 120px;
    padding: 0 30px;
    color: white;
}


.maintenance__title {
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 114%;
    text-align: center;
}

.maintenance__description {
    max-width: 350px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.maintenance__footer {
     position: fixed;
     width: 100%;
     bottom: 0;
 }

.footer {
    position: fixed;
    bottom: 0;
    height: 200px;
    width: 100%;
}

.footer__social-container {
    display: flex;
    width: 450px;
    margin: 0 auto 73px;
    justify-content: space-between;
}

.footer__social-container span:not(:last-child) {
    margin-right: 24px;
}

.footer__social-container span img {
    height: 54px;
    width: 54px;

    transition: transform 0.1s linear;
}

.footer__social-container span img:hover {
    transform: scale(1.1);
}

.footer__copyright {
    color: black;
    text-align: center;
    font-size: 15px;

}

.footer__copyright a {
    color: #4AA956;
}

@media (max-width: 1239px) {
    .maintenance::after {
        background-size: cover;
    }
}

@media (max-width: 599px) {
    .maintenance__content {
        margin-bottom: 50px;
    }
}

@media (max-width: 420px) {
    .maintenance__content {
        margin-bottom: 25px;
        padding: 0 10px;
    }
}

@media (max-height: 650px) {
    .maintenance__title {
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}

@media (max-width: 900px) {
    .maintenance {
        padding-top: 24px;
    }
    .maintenance__logo {
        margin-bottom: 16px;
    }
    .maintenance__content {
        padding: 67px 20px;
    }
    .maintenance__description {
        max-width: unset;
    }

    .footer__social-container {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        max-width: 300px;
        margin: 0 auto 33px;
        row-gap: 20px;
        justify-items: center;
    }

    .footer__social-container span img {
        height: 44px;
        width: 44px;
    }

    .footer__social-container span:not(:last-child) {
        margin-right: 0;
    }

    .footer__copyright {
        font-size: 12px;
    }
}
